.DS_Store
*DS_Store*
.idea/*
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*.pyc
*kingcrab*
*piranha*
*checkpoints*
*/trained_model/*
*/*/trained_model/*
*/logs/*
*/*/logs/*
*.ipynb
*cached*
*zip*
*/comet-atomic_2020_BART/*
*/*/comet-atomic_2020_BART/*
*.txt